.loginBlock{
  //--padding-top: 80px;
  --padding-start: 10px;
  --padding-end: 10px;
}
ion-content {
  //--overflow: hidden;
}

ion-item {
  --inner-padding-end: 0px;
  --padding-start:0px
}

ion-toolbar:last-of-type {
  --border-width: 0 0 0!important;
}

.login-icon {
  ion-icon{
    filter: opacity(0.08);
  }
  &::before {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ddd;
    display: block;
    content: '';
    left: -75%;
    z-index: 9999;
    top: 42%;
    transform: translateY(-50%);
  }
  &::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ddd;
    display: block;
    content: '';
    left: 75%;
    z-index: 9999;
    top: 42%;
    transform: translateY(-50%);
  }
}