<ion-header>
  <ion-toolbar class="toolbarMain">
    <modalLogin slot="end" class="modal-card"></modalLogin>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar debounce="500" #searchbar (ionChange)="cercaLuogo(searchbar.value)"></ion-searchbar>
  <div *ngIf="tuttiLuoghi">
    <modalFilters [disabled]="searchbar.value !== ''" (confirm)="retrieveOnFilter($event)"></modalFilters>
    <ion-list >
      <ion-list-header>
        <ion-text>
          <p>Cerca i luoghi che desideri!</p>
        </ion-text>
      </ion-list-header>

      <ion-item *ngFor="let luogo of luoghiMostrati" (click)="goToStructureDetail(luogo.id)">
        <ion-thumbnail slot="start">
          <img src="{{luogo.image}}">
        </ion-thumbnail>
        <ion-label>
          <h2>{{luogo.name}}</h2>
          <h3>
            <star-rating
                    activeIcon = "star"
                    defaultIcon = "star-outline"
                    activeColor = "#488aff"
                    defaultColor = "#f4f4f4"
                    readonly="true"
                    halfStar="true"
                    rating="{{luogo.rating}}"
                    fontSize = "16px"></star-rating>
          </h3>
          <p>{{luogo.type}}</p>
          <p>{{luogo.address}}, {{luogo.city}}, {{luogo.province}}</p>
        </ion-label>
      </ion-item>
      <ng-container *ngIf="isLoading">
        <ion-item *ngFor="let item of [1,2,3,4,5]">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h2>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>
    <ion-infinite-scroll  threshold="100px" (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Caricamento in corso...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>


